@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
 


body{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 1em;
 	color: #333333;
 	line-height: 1.3em;
 }

header{
	background-color:#117508;
	padding: 20px;
	text-align: center;
	
}


a {
	color:#fff;
	text-decoration: none;

}

nav a{
	color: #fff;
	margin: 0 auto;
	font-family: Arial;
	font-size: 1.875em;
	padding: 10px;
	text-align: center;
	

}

a:hover { 
background-color: #47B23B;
}

 h1{
 	text-align: center;
	font-size: 4.375em;
	color:#fff;
	font-family: 'Amatic SC', cursive;
	padding-top: 20px;
 }
 
 h2{
	text-align: center;
	font-weight: normal;
 	font-size: 3em;
	color: #000000;
	font-family:'Amatic SC', cursive;
 }

article{
	background-color: #E89C6C;
	margin:20px
	border: 2px solid black;
}

 
img{
	width: 1290px;
	margin: 0 auto;
	padding: 0px;
	display: block;
}



p{
 	
 	font-weight: normal;
 	font-size: 1.56em;
 	font-family: Helvetica; 
 	text-align: center;
 	line-height: 2em;
 	color: #000000;
 }

 ul{
 	list-style: none;
 	font-size: 1.56em;
 	line-height: 1.5em;
 	margin: 0 auto;
 	text-align: center;
 	padding: 5px;
 	color: #fff;
 }

footer{
	background-color: #FF957E;
	border: 2px solid black;
}

div{
	background-color: #FFE2B8;
	padding: 10px;
	border: 2px solid black;
}


#one{
	background-color: #FFE2B8;
	border: 2px solid black;
}

#two{
	background-color: #E89C6C;
	border: 2px solid black;
	margin: 10px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float:left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float:right;
	width: 62%;
}

@media (max-width: 1290px) {
	img {
		width: 100%;
		margin: auto 0;
	}
}

@media only screen and (max-width: 997px) {

	nav a { 
		display: block;
	}

	h1 {
	font-size: 3em;
    padding: 10;
    line-height: 1em;
	}

	h2 {
		font-size: 1.9em;
		
	}


	p {
		line-height: 1.2em;
		font-size: 1em;
		padding: 10px;
		margin: 5px;
	}

ul {
	font-size: 1em;
	}
}

@media only screen and (max-width: 405px) {
	h1 {
	display: block;
	font-size: 2.5em;
    padding: 10;
    line-height: 1em;
	}
		}
}
